In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import VarianceThreshold
import warnings
from sklearn.preprocessing import OneHotEncoder
import zipfile
warnings.filterwarnings('ignore')
traindataFile = u"E:/BDCI Match/train.zip"


z = zipfile.ZipFile(traindataFile)
df = pd.read_csv(z.open(z.namelist()[0]))
# df = df[["service_type","current_service"]]
df.head(2)

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,local_caller_time,service1_caller_time,service2_caller_time,gender,age,complaint_level,former_complaint_num,former_complaint_fee,current_service,user_id
0,4,0,85,295.96,296.2,296,296.8,3813.614698,0,1,...,108.1,0.000000,564.366667,1,31,0,0,0.0,99999825,Gx4sJzcQog01UhZL
1,1,0,10,265.20,261.2,208.5,174.5,0.000000,1,0,...,240.1,355.166667,0.000000,1,30,0,0,0.0,90063345,kEXrhTiug93DIcLG

In [5]:
df.loc[(df['age']==0.0)].count()

service_type              16141
is_mix_service            16141
online_time               16141
1_total_fee               16141
2_total_fee               16141
3_total_fee               16141
4_total_fee               16141
month_traffic             16141
many_over_bill            16141
contract_type             16141
contract_time             16141
is_promise_low_consume    16141
net_service               16141
pay_times                 16141
pay_num                   16141
last_month_traffic        16141
local_trafffic_month      16141
local_caller_time         16141
service1_caller_time      16141
service2_caller_time      16141
gender                    16141
age                       16141
complaint_level           16141
former_complaint_num      16141
former_complaint_fee      16141
current_service           16141
user_id                   16141
dtype: int64